@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Italiana&display=swap'); /*inter e italiana*/

:root{
    --cor-roxo-escuro: #483C59;
    --cor-amarelo: #F2CE1B;
    --cor-rosa: #D92365;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

header{
    opacity: 0;
    animation: fadeIn 2s 0.5s both;
    background-image: linear-gradient(to right, var(--cor-roxo-escuro), var(--cor-rosa), var(--cor-amarelo));

    width: 100%;
    height: 300px;
    margin: auto;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

/*Start Header*/

header h1{
    color: white;
    text-align: center;
    font-size: 2em;

    max-width: 400px;
    padding-top: 75px;
    margin: auto;

    opacity: 0;
    animation: fadeIn 3s 2.5s both;
}

header div#titulo{
    font-family: "italiana", monospace;
}

header div#nome{
    font-family: "inter";
    font-weight: lighter;
}

header p{
    color: white;
    font-family: "inter";
    font-weight: lighter;
    text-align: center;
    padding-top: 25px;
    
    opacity: 0;
    animation: fadeIn 3s 2.5s both;
}

/*End Header*/

/*Start Main*/
main{
    padding-top: 20px;
}
/*End Main*/

/*Start section*/

/*End section*/