@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Italiana&display=swap'); /*inter e italiana*/

:root{
    --cor-roxo-escuro: #483C59;
    --cor-amarelo: #F2CE1B;
    --cor-rosa: #D92365;
}

@keyframes backgroundHeaderColor{
    from{
        background-color: white;
    }

    to{
        background-color: var(--cor-roxo-escuro);
    }
}

@keyframes backgroundHeaderGradient{
    from{
        background-color: var(--cor-roxo-escuro);
    }

    to{
        background-image: linear-gradient(to right, var(--cor-roxo-escuro, var(--cor-rosa), var(--cor-amarelo)));
    }
}

@keyframes textFadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

header{
    animation-name: backgroundHeaderColor;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    background-color: var(--cor-roxo-escuro);

    width: 100%;
    height: 300px;

    margin: auto;

    /*position: relative;*/
}

/*Start Header*/

header h1{
    color: white;
    text-align: center;
    font-size: 2em;

    max-width: 400px;
    padding-top: 75px;
    margin: auto;

    opacity: 0;
    animation: textFadeIn 3s 2s both;
}

header div#titulo{
    font-family: "italiana", monospace;
}

header div#nome{
    font-family: "inter";
    font-weight: lighter;
}

header p{
    color: white;
    font-family: "inter";
    font-weight: lighter;
    text-align: center;
    padding-top: 25px;
    
    opacity: 0;
    animation: textFadeIn 3s 2s both;
}

/*End Header*/

/*Start Main*/

/*End Main*/

/*Start section*/

/*End section*/